@model IEnumerable<ServiceTypes>
@{
    ViewData["Title"] = "Index";
}

<br />
<h2>Manage Service Types</h2>
<hr />

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <p>
            <a class="btn btn-sm btn-primary" asp-action="Create">Create New</a>
        </p>
        <br />

        <table class="table table-hover table-condensed">
            <tr class="text-info">
                <th>
                    @Html.DisplayNameFor(m => m.ServiceName)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.CreateBy)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.CreateTime)
                </th>
                <th></th>
                <th>
                    @Html.Label("Options")
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td nowrap>
                        @Html.DisplayFor(m => item.ServiceName)
                    </td>
                    <td nowrap>
                        @Html.DisplayFor(m => item.CreateBy)
                    </td>
                    <td nowrap>
                        @Html.DisplayFor(m => item.CreateTime)
                    </td>
                    <td nowrap>
                        @Html.Partial("_TableButtonPartial", new IndividualButtonPartial { ServiceTypesId = item.Id })
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

